@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

    <div id="heroImageContainer">
        <div id="quote">It is not the mountain<br/>we conquer, but ourselves.<br/>-Sir Edmund Hillary</div>
        <img src="~/images/homePageClimbingCropped.jpg" alt="Man Climbing a Mountain Peak" />
    </div>