/*Body*/
#all main {
    padding-top: 66px;
}

/*Nav Bar*/
#all nav {
    background-color: #F0E9EF;
}
#all #companyName {
    font-family: 'Comfortaa', cursive;
    margin-left: .7rem;
}
#all .navbar-nav {
    font-family: 'Quicksand', sans-serif;
}
#all #logo {
    max-height: 50px;
}
#all nav button {
    border: none;
    background: none;
    color: rgba(0,0,0,.5);
    padding: 0 0 0 0;
}
#all #cartIcon {

}

/*Index Page*/
#all #heroImageContainer {
    max-width: 100%;
    position: relative;
}

#all #heroImageContainer img {
    max-width: 100%;
}
#all #quote {
    position: absolute;
    font-size: large;
    margin: 5rem 0 0 10rem;
}

/*Products Page*/
#all #productCard:hover {
    cursor: pointer;
}

/*Individual Product Page*/
#all #imageContainer {
    display: inline-block;
}
#all #textContainer {
    display: inline-block;
}