/*html*/

#all html {
    position: relative;
    min-height: 100%;
}

/*Body*/
#all main {
    padding-top: 66px;
    margin-bottom: 60px;
}

/*Nav Bar*/
#all nav {
    background-color: #F0E9EF;
}

#all #companyName {
    font-family: 'Comfortaa', cursive;
    margin-left: .7rem;
}

#all .navbar-nav {
    font-family: 'Quicksand', sans-serif;
}

#all #logo {
    max-height: 50px;
}

#all nav button {
    border: none;
    background: none;
    color: rgba(0,0,0,.5);
    padding: 0 0 0 0;
}

#all #cartIcon {
    max-height: 40px;
    padding: 0px 8px;
}

#all #productSorter {
    margin: 10px 0px;
}

    #all #productSorter a {
        display: inline-block;
        margin-left: 10px;
    }

/*Index Page*/
#all #heroImageContainer {
    max-width: 100%;
    position: relative;
}

    #all #heroImageContainer img {
        max-width: 100%;
    }

#all #quote {
    position: absolute;
    font-size: large;
    margin: 5rem 0 0 10rem;
}

/*Products Page*/
#all #productCard:hover {
    cursor: pointer;
}

#all #productCard img {
    display: inline-block;
    max-height: 225px;
}

/*Individual Product Page*/
#all #imageContainer {
    display: inline-block;
}

#all #textContainer {
    display: inline-block;
}

#all #cardImage {
    max-height: 225px;
}

/*Account Details*/
#all #accountDetails {
    width: 50%;
    margin-left: 25%;
}

    #all #accountDetails h1 {
        margin-bottom: 30px;
    }

    #all #accountDetails h2, button, a {
        display: inline-block;
    }

    #all #accountDetails .inputGroup {
        margin-bottom: 5px;
    }

#all #updateName {
    margin-bottom: 30px;
}

#all #updateBilling {
}

/*Footer*/
#all #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

#all #footerContainer {
    padding-right: 15px;
    padding-left: 15px;
}

/*Product Details*/

#all #breadbrumb-nav {
    background-color: #f8f9fa;
}

#all #add-cart {
    margin-left: 2%;
}

#all #vc-header {
    padding-left: 12px;
}

#all #product-name {
    font-family: 'Comfortaa', cursive;
}

#all .product-info {
    font-family: 'Quicksand', sans-serif;
}

#all #price {
    font-size: 20px;
}


/*Invoice & Order Pages*/

#all body {
    margin-top: 20px;
    background: #eee;
}

#all .invoice {
    padding: 30px;
}

    #all .invoice h2 {
        margin-top: 0px;
        line-height: 0.8em;
    }

    #all .invoice .small {
        font-weight: 300;
    }

    #all .invoice hr {
        margin-top: 10px;
        border-color: #ddd;
    }

    #all .invoice .table tr.line {
        border-bottom: 1px solid #ccc;
    }

    #all .invoice .table td {
        border: none;
    }

    #all .invoice .identity {
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: 300;
    }

        #all .invoice .identity strong {
            font-weight: 600;
        }

#all .grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#all #back-button {
    margin-right: 5px;
}

/*Admin Dashboard Pages*/


#all .panel-blue {
    background: #5bc0de;
}

#all .panel-tw {
    background: #5bc0de;
}

#all .panel-fb {
    background: #3b5998
}

#all .panel-in {
    background: #5cb85c;
}

#all .panel-content .fa {
    color: #ffffff;
}

#all .panel-dl {
    background: #428bca;
}

#all .panel-content p {
    color: #FFFFFF;
}

#all body {
    padding-top: 30px;
    background: #eee;
}

#all #product-image-admin {
    width: 300px;
}

#all #admin-title {
    padding: 16px;
}

#all #update-buttons {
    margin-top: 10%;
}

#all .mt-2 {
    margin-top: .5rem;
}

/*Cart Page*/

#all #total-title {
    text-align: center;
}

#all #total-button {
    display: block;
    text-align: center;
}

#all .cart-image {
    max-width: 300px;
}

#all #cart-page-section h2, h3 {
    font-family: 'Comfortaa', cursive;
}

#all #cart-page-section p, label {
        font-family: 'Quicksand', sans-serif;
}