@model Ecommerce_App.Components.CartCompViewComponent.CartCompVM;

@using Microsoft.AspNetCore.Identity;
@using Ecommerce_App.Models;

@inject SignInManager<Customer> SignInManager;
@inject UserManager<Customer> UserManager;
@inject Ecommerce_App.Data.StoreDbContext _storeDbContext;



@if (Model.Cart != null)
{
    <div class="container">
        <div class="row" id="vc-header">
            <div col="col-md-6 mb-4">
                <h2>Your Cart</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div col="col-md-6 mb-4">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (var item in Model.Cart.CartItems)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>Quantity: @item.Quantity</td>
                                <td>Price: @item.Product.Price</td>

                                <td>Total: $@(item.Quantity*item.Product.Price)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: $@Model.Total</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
