@model Ecommerce_App.Models.Product
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<div id="productDetails">
    <div id="imageContainer"><img src="@Model.Image" /></div>
    <div id="textContainer">
        <div id="name">@Model.Name</div>
        <div id="price">@Model.Price</div>
        <div id="desc">@Model.Description</div>
    </div>
</div>


@*Add to cart*@
@*TODO: Bring in CartId, ProductId, 
 asp-controller="CartItem" asp-action="CreateCartItem"*@

<form method="post">
    <div class="row">
        <div class="col-3 offset-3">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</form>
