@model IEnumerable<Ecommerce_App.Models.Product>

<a href="/">Home</a>

@*TODO add form*@
@*<form method="post>">
    <input type="text" asp-for="Model."/>
    <button type="submit">Search</button>
</form>*@

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <img src="@product.Image" />
        </tr>
        }
    </tbody>
</table>