@model Ecommerce_App.Models.Product
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<div id="productDetails">
    <div id="imageContainer"><img src="@Model.Image"/></div>
    <div id="name">@Model.Name</div>
    <div id="price">@Model.Price</div>
    <div id="desc">@Model.Description</div>
</div>