@using Microsoft.AspNetCore.Identity;
@using Ecommerce_App.Models;
@inject SignInManager<Customer> SignInManager;
@inject UserManager<Customer> UserManager;


<nav class="navbar navbar-light navbar-expand">
    <a asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/companyLogo.png" alt="Logo" /></a>
        <a asp-controller="Home" asp-action="Index" class="navbar-brand" id="companyName">The Outdoor Store</a>
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a asp-controller="Products" asp-action="GetAllProducts" class="nav-link">Products</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link">About Us</a>
        </li>
        @if (User.IsInRole(ApplicationRoles.Admin))
        {
            <li class="navbar-item">
                <a asp-page="/Dashboard/Picture" class="nav-link">Dashboard</a>
            </li>
        }
    </ul>
    <ul class="navbar-nav ml-auto">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="navbar-item">
                <div class="nav-link">@($"{User.Claims.First(x => x.Type == "FirstName").Value} {User.Claims.First(x => x.Type == "LastName").Value}")</div>
            </li>
            <li class="navbar-item">
                <form asp-page="/Account/Logout" method="post" class="nav-link"><button type="submit">Logout</button></form>
            </li>
        }
        else
        {
            <li class="navbar-item">
                <a asp-page="/Account/Login" class="nav-link">Login</a>
            </li>
            <li class="navbar-item">
                <a asp-page="/Account/Register" class="nav-link">Register</a>
            </li>
        }
    </ul>
</nav>