@using Microsoft.AspNetCore.Identity;
@using Ecommerce_App.Models;
@inject SignInManager<Customer> SignInManager

<nav class="navbar navbar-light navbar-expand">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">The Outdoor Company</a>
    <ul class="navbar-nav ml-auto">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="navbar-item">
                <div class="nav-link">Welcome @User.Claims.First(x => x.Type == "FullName").Value!</div>
            </li>
            <li class="navbar-item">
                <form asp-page="/Account/Logout" method="post" class="nav-link"><button type="submit">Logout</button></form>
            </li>
        }
        else
        {
            <li class="navbar-item">
                <a asp-page="/Account/Login" class="nav-link">Login</a>
            </li>
            <li class="navbar-item">
                <a asp-page="/Account/Register" class="nav-link">Register</a>
            </li>
        }
    </ul>
</nav>