@page
@model Ecommerce_App.Pages.Dashboard.PictureModel
@{
    ViewData["Title"] = "Picture";
    Layout = "_Layout";
}

<h1>Inventory Management</h1>

@*<h2>Create a New Product</h2>
<h2>Update a Product</h2>
<h2>Delete a Product</h2>*@

<form method="post" enctype="multipart/form-data">

    <label asp-for="@Model.Product.Name"></label>

    <label asp-for="@Model.Product.Id"></label>
    <input asp-for="@Model.Product.Id"></input>

    <input asp-for="@Model.Input.File" />
    <button type="submit">Submit</button>

</form>

