@page
@model Ecommerce_App.Pages.Dashboard.PictureModel
@{
    ViewData["Title"] = "Picture";
    Layout = "_Layout";
}

<h1>Picture</h1>

<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.Input.File" />
    <button type="submit">Submit</button>

</form>

